---
layout: default.pug
---
article(style=`color: ${textColor}`)
  a(href="/guides")
    button
      span Guides

  .category
    .badge(class=`${tagClass}`) #{tags[1]}

  h1 #{title}

  aside.info
    section.title
      p
        .user(style=`background-color: ${userColor}`)
        span #{userName}
    section
      a(href=spaceUrl)
        p #{spaceName}

  span !{content}


.kinopio-embed
  .embed-title #{userShortName || userName}'s space
    .badge Live Embed
  iframe(src=`${spaceEmbedUrl}`)

