---
layout: default.pug
---

section#hello
  h1 Hello
  p
    a(href="https://kinopio.club") Kinopio
    span &nbsp;is the spatial thinking tool for new ideas and hard problems.
  p Get your thoughts out and visually connect them together. Kinopio works how our brains work.

  article.overview
    video.wide(autoplay loop muted playsinline)
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/overview-basics-2.mp4")

  // include /contact.pug

mixin posts(collection)
  - let titles = ''
  each post in collections[collection]
    - titles = titles + ',' + post.data.title
  h2(data-posts=titles) #{collection}
  ul
    each post in collections[collection]
      li(data-title=post.data.title)
        a(href=post.url style={background: post.data.color})
          span #{post.data.title}

section#index
  - let collection

  - collection = 'How to Use'
  +posts(collection)

  - collection = 'About Kinopio'
  +posts(collection)

  - collection = 'Collaboration'
  +posts(collection)

  - collection = 'Explore and Favorites'
  +posts(collection)

  - collection = 'Importing and Exporting'
  +posts(collection)

  - collection = 'Policies'
  +posts(collection)

  - collection = 'Press'
  +posts(collection)

  - collection = 'Sharing and Privacy'
  +posts(collection)

  - collection = 'User Settings'
  +posts(collection)

  - collection = 'Troubleshooting'
  +posts(collection)
