---
layout: default.pug
---

mixin posts(collection)
  - let titles = ''
  each post in collections[collection]
    - titles = titles + ',' + post.data.title
  // Title
  h2(data-posts=titles) #{collection}
  //- Posts
  ul
    each post in collections[collection]
      li(data-title=post.data.title)
        a(href=post.url style={background: post.data.color})
          span #{post.data.title}

section#hello
  p
    a(href="https://kinopio.club") Kinopio
    span &nbsp;is the spatial thinking tool for building new ideas and solving hard problems. Create spaces to brainstorm, research, plan and take notes.
  // p Get your thoughts out and visually connect them together. Kinopio works the way your mind works.

  .row
    a(href="/about")
      button About Kinopio
    a(href="#footer")
      button Contact Support

section.overview#quickStart
  h2 Quick Start
  .articles
    article
      video(autoplay loop muted playsinline width="300" height="200")
        source(src="/assets/overview/1.mp4")
      p
        span.badge 1
        span= ' '
        span Click to add cards

    article
      video(autoplay loop muted playsinline width="300" height="200")
        source(src="/assets/overview/2.mp4")
      p
        span.badge 2
        span= ' '
        span Drag cards to move them

    article
      video(autoplay loop muted playsinline width="300" height="200")
        source(src="/assets/overview/3.mp4")
      p
        span.badge 3
        span= ' '
        span Drag to connect cards together

    article
      video(autoplay loop muted playsinline width="300" height="200")
        source(src="/assets/overview/4.mp4")
      p
        span.badge 4
        span= ' '
        span Paint select to edit together

section#index.index
  - let collection

  - collection = 'How to Use'
  +posts(collection)

  - collection = 'About Kinopio'
  +posts(collection)

  - collection = 'Collaboration'
  +posts(collection)

  - collection = 'Community'
  +posts(collection)

  - collection = 'Importing and Exporting'
  +posts(collection)

  - collection = 'Policies'
  +posts(collection)

  - collection = 'Press'
  +posts(collection)

  - collection = 'Sharing and Privacy'
  +posts(collection)

  - collection = 'User Settings'
  +posts(collection)

  - collection = 'Troubleshooting'
  +posts(collection)
