---
layout: default.pug
---

mixin posts(collection)
  // Search Attributes
  - let titles = ''
  each post in collections[collection]
    - titles = titles + ',' + post.data.title
  // Section Title
  h2(data-posts=titles) #{collection}
  //- Posts
  //- alphabeticallySorted defined in .eleventy.js
  ul
    each post in collections.alphabeticallySorted
      if post.data.tags
        if post.data.tags.includes(collection)
          li(data-title=post.data.title)
            a(href=post.url style={background: post.data.color})
              span #{post.data.title}


section#hello
  p
    a(href="https://kinopio.club") Kinopio
    span &nbsp;is the spatial thinking tool for building ideas and solving hard problems. Create spaces to brainstorm, research, plan and take notes.
  // p Get your thoughts out and visually connect them together. Kinopio works the way your mind works.

  .row
    //- a(href="/about")
    //-   button About Kinopio
    a(href="#footer")
      button Contact Support

section.overview#quickStart
  h2 Quick Start
  .articles
    article
      p
        span Click to add cards
      video(autoplay loop muted playsinline width="300" height="200")
        source(src="/assets/overview/1.mp4")

    article
      p
        span Drag cards to move them
      video(autoplay loop muted playsinline width="300" height="200")
        source(src="/assets/overview/2.mp4")

    article
      p
        span Drag to connect cards together
      video(autoplay loop muted playsinline width="300" height="200")
        source(src="/assets/overview/3.mp4")

    article
      p
        span Paint select to edit together
      video(autoplay loop muted playsinline width="300" height="200")
        source(src="/assets/overview/4.mp4")

section#index.index
  - let collection

  - collection = 'How to Use'
  +posts(collection)

  - collection = 'Advanced Use'
  +posts(collection)

  - collection = 'Getting Around'
  +posts(collection)

  - collection = 'Collaboration'
  +posts(collection)

  - collection = 'About Kinopio'
  +posts(collection)

  - collection = 'Community'
  +posts(collection)

  - collection = 'Importing and Exporting'
  +posts(collection)

  - collection = 'Policies and Privacy'
  +posts(collection)

  - collection = 'Press'
  +posts(collection)

  - collection = 'User Settings'
  +posts(collection)

  - collection = 'Troubleshooting'
  +posts(collection)
